*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    background-color: whitesmoke;
    width: 100%;
}


.contenedor{
    width: 100%;
    height: 30%;
    position: relative;
}

.bottom{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: coral;
    padding: 30px;
    font-size: 40px;

}

.left{
    cursor: pointer;
}

.right{
    cursor: pointer;
}

.carrusel {
    width: 100%;
}

.parrafo {
    font-weight: 900;
    font-style: oblique;
}

.contenedorCalculadora {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contenedorImg {
    width: 50%;
    display: flex;
    margin-left: 2px;
}

.containerImc {
    width: 50%;
    height: 500px;
    margin-left: 2px;
}

.formulario {
    padding: 5px;
    gap: 5px;
    height: 400px;
}

.leyenda {
    text-align: center;
    color: black;
    font-size: 15px;
    font-style: oblique;
    margin-bottom: 15px;
}

.formularioPeso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 15px;
}

.formularioAltura{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 12px;
}

.btnCalcular{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.contenedorResultado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    color: lime;
}
